version: '3.4'

services:
  userservice:
    image: ${DOCKER_REGISTRY-}userservice
    build:
      context: .
      dockerfile: UserService/Dockerfile
    depends_on:
      sqlusers:
        condition: service_healthy
  sqlusers:
    image: mcr.microsoft.com/mssql/server:2022-latest